*{
    box-sizing: border-box;
}
.container{
    margin: 40px auto 0px;
    width: 247px;
    height: 250px;
}
.container .box{
    display: block;
    height: 75px;
    float: left;
    font-size: 28px;
    padding: 33px;
    background: black;
    border-radius: 6px;
    color: white;
    margin-right: 2px;
    margin-bottom: 2px;
    line-height: 1px;
    cursor: pointer;
    width: 80px;
}
.turn{
    background: #f7f7f7;
    color: black;
    text-align: center;
    padding: 5px;
    display: block;
    width: 150px;
    margin: 50px auto 0px;
    border-radius: 4px;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.15);
}
.turn::first-letter{
    color: rgb(165, 19, 19);
    font-weight: 800;
}
button{
    width: 120px;
    background: rgb(179, 176, 176);
    color: black;
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 30px auto 0;
    outline: none;
    transition: transform .2s;
}
button:hover{
    transform: scale(1.2);
}